<!Doctype html>

<html>
<head>
	<meta charset="UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<title>Página inicial</title>
</head>

<body>
	<header style="background-color: #C8D4DD;">
	<footer style="text-align:  center; padding: 10px 0px; margin-bottom: 5px; width: 1160px; margin: 0 auto">
		<nav class="navbar navbar-expand-lg bg-body-tertiary; width: 1160px; margin: 0 auto; display: flex ">
		  <div class="container-fluid; width: 1160px; margin: 0 auto">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <!-- color link #1C3C50 -->
		    <div class="collapse navbar-collapse width: 1160px" id="navbarNav">
		      <ul class="navbar-nav display: flex gap: 16px width: 100% " style="gap: 8px; font-weight: bold;">
		        <!-- Borda de um 1px na tag <a> -->
		        <li class="nav-item; border border-primary rounded background-color list-group-item">
		          <a class="nav-link active" aria-current="page" href="/pagina_inicial"style="color: #1C3C50 ">Inicio</a>
		        </li>
		        <li class="nav-item; border border-primary rounded background-color list-group-item">
		          <a class="nav-link" href="/usuario"style="color: #1C3C50">Usuários</a>
		        </li>
		        <li class="nav-item; border border-primary rounded background-color list-group-item">
		          <a class="nav-link" href="/cadastro"style="color: #1C3C50">Cadastrar Usuários</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
		</footer>
	</header>
	
	<!-- Criando uma nova div para alinhar os elementos e adionando um alargura de 1160px -->
	<div style="width: 1160px; margin: 0 auto;">
		<!-- Margin top 16px | Color do h2 -->
	<h2  style="margin-top: 16px; color: #1C3C50;">Página desenvolvida para controle de usuários</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-12 mt-4">
					<h4>Sistema de Cadastro: Simplificando a Gestão de Informações.</h4>
					<h6>O Sistema de Cadastro é uma solução tecnológica inovadora que tem como objetivo simplificar e otimizar a gestão de informações de uma organização. Com sua interface intuitiva e funcionalidades avançadas, o sistema oferece uma maneira eficiente e segura de coletar, armazenar e gerenciar dados de clientes, funcionários, fornecedores e qualquer outra entidade relevante para o negócio.</h6>
					<h6>Uma das principais vantagens do Sistema de Cadastro é a sua adaptabilidade. Ele pode ser personalizado de acordo com as necessidades específicas de cada empresa, permitindo a criação de campos e categorias personalizadas para atender às demandas particulares de cada setor. Além disso, o sistema é altamente escalável, acompanhando o crescimento do negócio sem comprometer sua eficiência.</h6>
					<h6>Ao utilizar o Sistema de Cadastro, as organizações podem desfrutar de uma série de benefícios. Primeiramente, a coleta de informações é facilitada, eliminando a necessidade de formulários físicos ou arquivos de papel. Tudo é registrado de forma eletrônica, o que economiza tempo e reduz a possibilidade de erros. A precisão dos dados também é aprimorada, uma vez que o sistema oferece validações automáticas e a possibilidade de integração com outras fontes de dados.</h6>
					<h6>A praticidade também é uma característica fundamental do Sistema de Cadastro. Com uma interface intuitiva e de fácil navegação, os usuários podem inserir, atualizar e buscar informações de forma rápida e eficiente. Os dados são armazenados de maneira organizada e acessível, permitindo a recuperação ágil e a geração de relatórios personalizados para análises mais aprofundadas.</h6>
					<h6>Em resumo, o Sistema de Cadastro é uma solução abrangente e inteligente para a gestão de informações de uma organização. Com ele, é possível eliminar processos burocráticos, reduzir erros, aumentar a segurança dos dados e melhorar a eficiência operacional. Seja qual for o tamanho ou setor da sua empresa, esse sistema moderno e versátil é a chave para uma gestão de dados eficaz e bem-sucedida.</h6>
				</div>
			</div>
		</div>
	</div>
	<div>
        <footer style="text-align: center; padding: 10px 0px; background-color: #C8D4DD; margin-bottom: 5px;">
        	<span>Todos os direitos reservados &reg Wesley Cavalcante & Miquéias Xavier 2023</span>
        </footer>
    </div>

</body>
</html>

